</div>
 <br>
 <hr>
 <p class="text-center">&copy;shopping cart</p>

<!-- Bootstrap core JavaScript -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
<script src="/js/main.js "></script>
</body>

</html>